/*You can add your won color also */
.blog-title {
  font-size: 30px;
  position: relative;
  padding: 30px 30px 15px 15px;
  margin-top: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.popular-title {
  color: #cccccc;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
#blog-page {
  background: #ecf0f1;
  /* List Comments */
}
#blog-page .post {
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
#blog-page .post img {
  max-width: 100%;
}
#blog-page .post-content .date {
  line-height: 42px;
}
#blog-page .post-content .date a {
  font-size: 12px;
  margin-right: 10px;
}
#blog-page .post-content .date .post-type i {
  font-size: 22px;
}
#blog-page .post-content p {
  line-height: 25px;
  padding-bottom: 12px;
}
#blog-page .post-content p i {
  font-size: 18px;
  font-weight: 700;
}
#blog-page .post-content .reading {
  padding-top: 12px;
  padding-bottom: 40px;
  border-top: 1px solid #ddd;
  position: relative;
}
#blog-page .post-content .reading:after {
  content: '';
  position: absolute;
  border-top: 1px solid #e74c3c;
  top: -1px;
  left: 0;
  width: 102px;
}
#blog-page .post-content .reading .share-btn a {
  margin-left: 10px;
  margin-right: 0;
}
#blog-page blockquote {
  border-left: 2px solid #eee;
}
#blog-page blockquote p {
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
}
#blog-page .author {
  padding: 20px;
  background: #FFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  width: 100%;
  min-height: 220px;
}
#blog-page .author .author-avatar {
  width: 25%;
  float: left;
}
#blog-page .author .author-comment {
  float: left;
  width: 72%;
  margin-left: 3%;
}
#blog-page .author .author-comment .author-name {
  margin-top: 0;
}
#blog-page .author .author-comment p {
  line-height: 25px;
}
#blog-page .havecomments h3 {
  padding: 20px 0px;
}
#blog-page .havecomments a {
  font-family: "Roboto", sans-serif;
}
#blog-page .post-comments .comment-list li {
  rmagin: 0 0 100px;
  position: relative;
}
#blog-page .post-comments .comment-list li img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: absolute;
}
#blog-page .post-comments .comment-list .comment-detailes {
  margin-left: 180px;
}
#blog-page .post-comments .comment-list .comment-detailes .comments {
  background: #ffffff;
  border-radius: 4px;
  padding: 40px;
}
#blog-page .post-comments .comment-list .comment-detailes .comments:before {
  border-color: transparent #ffffff;
  border-style: solid;
  border-width: 0 0 30px 30px;
  content: "";
  display: block;
  left: 165px;
  position: absolute;
  top: 50px;
  width: 0;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#blog-page .post-comments .comment-list .comment-detailes .comments p {
  line-height: 25px;
}
#blog-page .post-comments .comment-list .comment-detailes .comment-meta {
  min-height: 36px;
}
#blog-page .post-comments .comment-list .comment-detailes .comment-meta .user-name {
  color: #000000;
  float: left;
  font-weight: 700;
}
#blog-page .post-comments .comment-list .comment-detailes .comment-meta .date {
  color: #e74c3c;
  font-weight: 700;
  float: right;
  text-align: right;
}
#blog-page .comment-area input[type="text"] {
  background: #ffffff;
  border: 1px solid #E74C3C;
  display: block;
  margin-bottom: 24px;
  padding: 15px 18px;
  border-radius: 30px;
}
#blog-page .comment-area textarea {
  border: 1px solid #E74C3C;
  display: block;
  line-height: 20px;
  height: auto;
  border-radius: 0;
}
#blog-page .comment-area input[type="text"]:focus,
#blog-page .comment-area textarea:focus {
  box-shadow: none;
}
#blog-page #comments > h3 {
  line-height: 30px;
  margin-top: 0;
}
#blog-page .havecomments > h3 {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
#blog-page #comments > h3 a {
  font-family: 'Roboto', sans-serif;
}
#blog-page .commentlist {
  background: #F9F9F9;
  padding-left: 0;
  margin: 0;
}
#blog-page .commentlist .comment {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
}
#blog-page .commentlist .even {
  background: #f9f9f9;
}
#blog-page .commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
#blog-page .commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
#blog-page .commentlist ul.children {
  padding-left: 15px;
}
#blog-page .commentlist .children article {
  border-left: 1px solid #eee;
}
#blog-page .commentlist li:last-child {
  margin-bottom: 0;
}
#blog-page #comments .commentlist > li:last-child article.comment-container {
  border-bottom: 0;
}
#blog-page .commentlist li:not(.depth-1) {
  margin-top: 0;
  padding-bottom: 0;
}
#blog-page #comments .comment-container {
  background: #fff;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
}
#blog-page .commentlist .comment-author {
  width: 10%;
  float: left;
}
#blog-page .comment-content {
  width: 88%;
  margin-left: 2%;
  float: left;
}
#blog-page .commentlist .vcard img.avatar {
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
#blog-page .commentlist .alert {
  margin: 10px 0 0 0;
}
#blog-page .commentlist .comment_content {
  margin: 0.7335em 0 1.5em;
}
#blog-page .commentlist .comment-reply-link {
  float: right;
  padding: 3px 5px;
  margin-bottom: 10px;
}
#blog-page .respond {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-top: 30px;
}
#blog-page .widget-title {
  position: relative;
  letter-spacing: 1px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #666666;
  font-family: 'loveloblack';
  text-align: left;
  font-size: 24px;
  margin-top: 0;
}
#blog-page .widget-title:before {
  position: absolute;
  border-color: #e74c3c !important;
  content: " ";
  width: 25px;
  bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid;
}
#blog-page .sidebar .search-box {
  margin-bottom: 30px;
  position: relative;
}
#blog-page .sidebar .search-box form {
  background: #FFF;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: block;
  overflow: hidden;
}
#blog-page .sidebar .search-box .input-group .form-control {
  border-radius: 30px;
  box-shadow: none;
}
#blog-page .sidebar .search-box input[type="search"] {
  border: medium;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  border: 1px solid #ECF0F1;
}
#blog-page .sidebar .search-box .form-control:focus,
#blog-page .sidebar .search-box button:focus,
#blog-page .sidebar .search-box input:focus,
#blog-page .sidebar .search-box textarea:focus {
  box-shadow: 0;
  outline: medium;
  border-color: #e74c3c;
}
#blog-page .sidebar .plain-search-btn {
  background: transparent;
  color: #e74c3c;
  padding: 6px 15px;
  margin-left: 0px !important;
}
#blog-page .widget {
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: block;
  overflow: hidden;
}
#blog-page .widget ul li {
  padding: 5px 0;
  list-style: none;
}
#blog-page .widget .content {
  margin-left: 95px;
  min-height: 85px;
}
#blog-page .widget .content h3 a {
  color: #000000;
  text-decoration: none;
}
#blog-page .widget .content h3 a:hover {
  color: #e74c3c;
}
#blog-page .widget .content .date a {
  padding-right: 10px;
}
.navigation {
  margin: 0 0 20px;
  overflow: hidden;
}
.navigation .nav-previous {
  float: left;
  width: 49%;
}
.navigation .nav-next {
  float: right;
  text-align: right;
  width: 49%;
}
.navigation .nav-links a {
  padding: 5px 14px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 480px) {
  #blog-page .blog-title {
    font-size: 18px;
  }
  #blog-page .post-content {
    padding: 80px 30px;
  }
  #blog-page .btn-common {
    margin-bottom: 20px;
  }
  #blog-page .author img {
    position: relative;
  }
  #blog-page .author .author-comment {
    margin-left: 0px;
  }
  #blog-page .post-comments .comment-list {
    padding-left: 0px;
    margin: 0px;
  }
  #blog-page .post-comments .comment-list li img {
    position: relative;
  }
  #blog-page .post-comments .comment-list li .comment-detailes {
    margin-top: 40px;
    margin-left: 0px;
  }
  #blog-page .post-comments .comment-list li .comment-detailes .comments {
    padding: 30px;
  }
  #blog-page .post-comments .comment-list li .comment-detailes .comments:before {
    left: 48px;
    top: 155px;
    transform: rotate(45deg);
  }
  #blog-page .sidebar .widget .popular-list img {
    position: relative;
    left: 0px;
  }
  #blog-page .sidebar .widget .popular-list .content {
    margin-left: 0px;
  }
}
#blog-page .reply {
  margin: 20px 0;
}
#blog-page .post-quote {
  width: 100%;
  height: 280px;
  background: url(../img/blog/qoute1.jpg);
  background-repeat: no-repeat;
  position: relative;
}
#blog-page .post-quote .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#blog-page .post-quote blockquote {
  padding: 125px 62px;
  border-left: 0px;
}
#blog-page .post-quote blockquote p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
