/*You can add your won color also */
#service-block-main .service-item .icon-wrapper {
  position: relative;
}
#service-block-main .service-item .icon-wrapper i {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  color: #999;
  line-height: 125px;
  padding: 30px;
  position: relative;
  opacity: .5;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
#service-block-main .service-item .icon-wrapper:before {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -75px;
  right: 0;
  top: 15px;
  background: #999;
  height: 1px;
  width: 150px;
  opacity: .5;
}
#service-block-main .service-item .icon-wrapper:after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -75px;
  right: 0;
  bottom: 15px;
  background: #999;
  height: 1px;
  width: 150px;
  opacity: .7;
}
#service-block-main .service-item .btn {
  margin-top: 15px;
}
#service-block-main .service-item:hover i {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  color: #e74c3c;
  border-color: #e74c3c;
}
#service-block-main .service-item:hover h2 {
  transition: all 0.2s ease-in-out;
  opacity: 1.0;
  color: #e74c3c;
}
#service-block-main .service-item:hover .icon-wrapper::before {
  opacity: 1;
  background: #e74c3c;
}
#service-block-main .service-item:hover .icon-wrapper::after {
  opacity: 1;
  background: #e74c3c;
}
#service-block-main h2 {
  margin: 20px 0;
  opacity: 0.7;
  font-size: 24px;
  font-family: 'loveloblack';
}
#service-block-1 {
  background: url(../img/backgrounds/service-bg.jpg);
}
#service-block-1 .service-block-inner {
  position: relative;
  color: #fff;
}
#service-block-1 .service-block-inner:before {
  background: rgba(231, 76, 60, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
}
#service-block-1 .service-item {
  width: 100%;
  float: left;
  margin-top: 30px;
  position: relative;
}
#service-block-1 .service-item .icon {
  float: left;
  display: inline-block;
  margin: 15px 18px;
  width: 62px;
  height: 62px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#service-block-1 .service-item .icon i {
  color: #333333;
  background: #EEEEEE;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 22px;
  line-height: 48px;
  border-radius: 50%;
  margin: 5px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#service-block-1 .service-item .service-content {
  padding-left: 104px;
}
#service-block-1 .service-item .service-content h2 {
  font-size: 30px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}
#service-block-1 .service-item:hover .icon {
  border: 2px solid #E54C4C;
}
#service-block-1 .service-item:hover .icon i {
  background: #E54C4C;
  color: #fff;
}
#service-block-1 .service-item:hover .service-content h2 {
  color: #e74c3c;
}
#service-block-2 .service-inner {
  padding: 50px;
  border: 2px solid #EEEEEE;
  margin: 20px 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#service-block-2 .service-inner .icon i {
  font-size: 40px;
  color: #666;
  padding: 7px 22px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#service-block-2 .service-inner h3 {
  font-size: 24px;
  color: #666;
  line-height: 48px;
}
#service-block-2 .service-inner .description {
  font-size: 14px;
  line-height: 24px;
}
#service-block-2 .service-inner p {
  line-height: 22px;
}
#service-block-2 .service-inner:hover {
  cursor: pointer;
}
#service-block-2 .service-inner:hover h3 {
  color: #e74c3c;
}
#service-block-2 .service-inner:hover i {
  color: #e74c3c;
}
