.social-icons-fill {
  padding: 0px;
}
.social-icons-fill li {
  display: inline-block;
  margin-right: 5px;
}
.social-icons-fill li a {
  color: #fff;
  display: block;
}
.social-icons-fill li a i {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  border-radius: 100%;
  line-height: 38px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #585858;
  border: 1px solid #585858;
}
.social-icons-fill li a i:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons-fill li a .fa-twitter:hover {
  background: #00aced;
  border-color: #00aced;
}
.social-icons-fill li a .fa-facebook:hover {
  background: #3b5998;
  border-color: #3b5998;
}
.social-icons-fill li a .fa-google-plus:hover {
  background: #dd4b39;
  border-color: #dd4b39;
}
.social-icons-fill li a .fa-youtube-play:hover {
  background: #bb0000;
  border-color: #bb0000;
}
.social-icons-fill li a .fa-linkedin:hover {
  background: #007bb6;
  border-color: #007bb6;
}
.large li a i {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}
.light li a {
  color: #E74C3C;
}
.light li a i {
  background: #fff;
  border: 1px solid #bdc3c7;
}
.light li a i:hover {
  color: #ffffff;
}
.flat li a {
  color: #ffffff;
}
.flat li a i {
  background: #E74C3C;
  border: 1px solid #E74C3C;
  border-radius: 0;
}
.flat li a i:hover {
  color: #ffffff;
}
.social-links-bordered {
  margin-top: 30px;
}
.social-links-bordered a {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  text-align: center;
}
.social-links-bordered a i {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  border-radius: 100%;
  line-height: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #fff;
}
.social-links-bordered a i:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-links-bordered a .fa-twitter:hover {
  background: #00aced;
  border-color: #00aced;
}
.social-links-bordered a .fa-facebook:hover {
  background: #3b5998;
  border-color: #3b5998;
}
.social-links-bordered a .fa-google-plus:hover {
  background: #dd4b39;
  border-color: #dd4b39;
}
.social-links-bordered a .fa-youtube-play:hover {
  background: #bb0000;
  border-color: #bb0000;
}
.social-links-bordered a .fa-linkedin:hover {
  background: #007bb6;
  border-color: #007bb6;
}
.massage-box {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid;
}
.massage-box .massage-box-icon {
  float: left;
  width: 30px;
  height: 50px;
  margin-right: 15px;
}
.massage-box .massage-box-icon i {
  font-size: 24px;
}
.color-info {
  color: #5e7f96;
  border-color: #cfebfe;
  background-color: #dff2fe;
}
.color-warning {
  color: #9d8967;
  border-color: #ffeccc;
  background-color: #fff4e2;
}
.color-success {
  color: #5e7f96;
  border-color: #cfebfe;
  background-color: #e6fdf8;
}
.color-danger {
  color: #a85959;
  border-color: #fedede;
  background-color: #fdeaea;
}
.color-alert-info {
  color: #31708f;
  border-color: #bce8f1;
  background-color: #d9edf7;
}
.warning {
  color: #31708f;
  border-color: #bce8f1;
  background-color: #d9edf7;
}
